<% form_for @user do |form| %>  
<%= form.error_messages %>  
<h2>OpenID</h2>  
<ul class="form_list">
  <li>  
    <%= form.label :username, "username" %>  
    <%= form.text_field :username %>  
  </li>  
  <li>  
    <%= form.label :email, "email" %>  
    <%= form.text_field :email %>  
  </li>  
  <li>  
    <%= form.label :openid_identifier, "OpenID URL "%>  
    <%= form.text_field :openid_identifier %>  
  </li>  
  <li>  
    <%= form.submit "submit" %>  
  </li>  
</ul> 
<% end %>