<% form_for @link do |form| %>  
<%= form.error_messages %>
<ul class="form_list">
  <li>  
    <%= form.label :url, "url" %>  
    <%= form.text_field :url %>  
  </li>  
  
	<li>
	<%= form.label :category, "category" %>
	<%= form.collection_select(:category_id, current_user.categories, :id, :name, options = {:prompt => "select a category"}) %>
	</li>
  
  <li>  
    <%= form.submit "submit" %>  
  </li>  
</ul> 
<% end %>