<div id="categories">
	
	<ul id="category_list">
		<li><%= link_to "uncategorized", links_path %></li>
	<% current_user.categories.each do |category| %>
		<li><%= link_to h(category.name), links_path({:category_id => category.id}) %></li>
	<% end %>
	</ul>
	<%= link_to "add a category", new_category_path %>
</div>

<div id="links">
	<% if @category %>
		<h2>Links for <%=h @category.name %></h2>
		<%= render :partial => 'links_list', :locals => {:links => @category.links} %>
	<% else %>
		<h2>Links with no category</h2>
		<%= render :partial => 'links_list', :locals => {:links => @links} %>
	<% end %>
	
	<%= link_to "add a link", new_link_path %>
</div>