<% content_for :title do %> 
| 
	<% if @category %>
		<%=h @category.name %>
	<% else %>
		uncategorized
	<% end %>
	
<% end %>

<div id="categories">
	<h3>Categories</h3>
	<%= render :partial => 'category_list' %>
	
	<div id="category_form">
		<strong>add a category</strong>
		<% form_remote_for(Category.new) do |f| %>
		<%= render :partial => "categories/category", :locals => {:f => f} %>
		<% end %>
	</div>
	
	<p class="clear"></p>
	
	<div id="legend">
		<h4>Legend</h4>
		<ul>
			<li><%= image_tag('icons/page_edit.png', :alt => "edit icon") %> - <em>edit item</em></li>
			<li><%= image_tag('icons/delete.png', :alt => "delete icon") %> - <em>delete item</em></li>
			<li><%= image_tag('icons/disk.png', :alt => "bookmark bar shortcut icon") %> - <em> shortcut<br/>drag this icon to your bookmarks bar</em></li>
		</ul>
	</div>
</div>

<div id="links">
	<% if @category %>
		<h2><%=h @category.name %></h2>
	<% else %>
		<h2>uncategorized</h2>
	<% end %>

	<%= render :partial => 'links_list', :locals => {:links => @links} %>

	<div id="link_form">
		<h3>add a new link</h3>
		<% remote_form_for Link.new do |f| %>
		<%= hidden_field_tag :category_id, @category.id if @category %>
		<%= render :partial => "links/link", :locals => {:f => f} %>
		<% end %>
	</div>
</div>