<div id="categories">
	<h3>Categories</h3>
	<%= render :partial => 'category_list' %>
	
	<div id="category_form">
		<strong>add a category</strong>
		<% form_remote_for(Category.new) do |f| %>
		<%= render :partial => "categories/category", :locals => {:f => f} %>
		<% end %>
	</div>
</div>

<div id="links">
	<% if @category %>
		<h2>Links for <%=h @category.name %></h2>
	<% else %>
		<h2>Links with no category</h2>
	<% end %>

	<%= render :partial => 'links_list', :locals => {:links => @links} %>

	<div id="link_form">
		<h3>add a new link</h3>
		<% remote_form_for Link.new do |f| %>
		<%= hidden_field_tag :category_id, @category.id if @category %>
		<%= render :partial => "links/link", :locals => {:f => f} %>
		<% end %>
	</div>
</div>	
	
