<% content_for :title do %> 
| log in
<% end %>  
  
<% form_for @user_session do |form| %>  
<%= form.error_messages %>  
<ul class="formList">  
  <li>  
    <%= form.label :username, "Username" %>  
    <%= form.text_field :username %>  
  </li>  
  <li>  
    <%= form.label :password, "Password" %>  
    <%= form.password_field :password %>  
  </li>  
  <li>  
    <%= form.submit "Submit" %>  
  </li>  
</ul>  
<% end %>