<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Laterz <%= yield :title %></title>
  <%= stylesheet_link_tag 'site' %>

  <%= javascript_include_tag :defaults %>

<!--
Most if not all of the icons on this site are courtesy of the FamFam Silk Icon Set

http://www.famfamfam.com/
http://www.famfamfam.com/lab/icons/silk/
-->

</head>
<body>

<div id="main">
	<div id="header">

		<div id="account_info">
			<% if current_user %>
				<%= link_to "Links", links_path %> |
				<%= link_to "Logout", logout_path %>
			<% else %>
				<%= link_to "Login", login_path %> or
				<%= link_to "Register", register_path %>
			<% end %>
		</div>

		<h1><%= link_to "Laterz", root_path %></h1>
		<h3>Save it until later</h3>
	</div>

	<div class="wrapper">

	<%# if not flash[:notice].nil? %>
	<div id="notice"><%= flash[:notice] %></div>
	<%# end %>
	<%# if not flash[:error].nil? %>
	<div id="error"><%= flash[:error] %></div>
	<%# end %>

<%= yield  %>

	<div class="clear"></div>
	</div>
</div>
</body>
</html>
